<section class="about-section" id="about">
  <div class="header">
    <h2>Who is David Dresen?</h2>
  </div>
  <div class="overlay"></div>
  <div class="textbox">
    <p>I am a man of belief and family. I am competitive in all aspects of my life, which has brought me to where I am today. I don't like to settle when better is achievable. I live for the details, and believe the last 10% is the most important. I still consider myself to be an Artist, even though I have been in brand and digital design for decades. I love to draw and paint, however there is never enough time to actually do it.</p>
    <p>I simply love design, and I am good at it. I love its ability to shape the decisions of users, to delight them, inform them, and to assist them. If you are in need of a passionate, driven, detail oriented successful Creative Director, please reach&nbsp;out.</p>
    <address href="mailto:contact@daviddresen.com" >contact@daviddresen.com</address>
  </div>
</section>
