@import "../../stylings/_variables.less";

.about-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  opacity: 1;
  width: 100%;

  @media screen and (min-width: @tablet-break) {
    background-image: url(../../assets/images/me_1018x830.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: 50rem) {
    background-image: url(../../assets/images/me_1920x830.png);
    grid-template-columns: 1fr 1fr;
    .rem-px(height, 830);
  }
}

.overlay {
  background: transparent linear-gradient(90deg, #2F3438 0%, #15151582 42%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  @media screen and (min-width: @tablet-break) {
    grid-row-end: 3;
  }
}

.header {
  background-image: url(../../assets/images/me_1018x830.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  .rem-px(height, 300);

  @media screen and (min-width: 28rem) {
    background-image: url(../../assets/images/me_1920x830.png);
  }

  @media screen and (min-width: @tablet-break) {
    background-image: none;
    height: unset;
  }
}


h2 {
  grid-column-start: 1;
  grid-row-start: 1;
  font-size: 8vw;
  line-height: 10vw;
  .rem-px(padding-left, 30);
  .rem-px(padding-top, 30);
  z-index: 10;

  @media screen and (min-width: @desktop-break) {
    .font-size(68);
    .rem-px(line-height, 68);
    .rem-px(margin-left, 140);
    .rem-px(padding-left, 0);
    .rem-px(padding-top, 80);
    .rem-px(padding-bottom, 30);
  }
}

h2, p, address {
  color: @light-color;
}

.textbox {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  .rem-px(padding, 30);

  @media screen and (min-width: @tablet-break) {
    grid-column-end: 2;
  }

  @media screen and (min-width: @desktop-break) {
    .rem-px(margin-left, 140);
    .rem-px(padding, 0);
    width: 80%;
  }
  @media screen and (min-width: 90rem) {
    width: 100%;
  }
  @media screen and (min-width: 110rem) {
    .rem-px(width, 950);
  }
}

p, address {
  color: @dark-color;
  .font-size(18);

  @media screen and (min-width: @tablet-break) {
    color: @light-color;
  }

  @media screen and (min-width: @tablet-break) {
    .font-size(20);
  }
  @media screen and (min-width: 90rem) {
    .font-size(30);
  }
}

p {
  .rem-px(padding-bottom, 20);
}

address {
  color: #508fb1;
  cursor: pointer;
}

