
<div
class="nav-behind"
(click)="toggleClose()"
>
<mat-nav-list
  class="dresen-list"
  id="mobile-nav-list"
  disableRipple
  >
    <a mat-list-item
      (mousedown)="toggleOpen()"
      routerLinkActive
      #routerLinkActiveInstance="routerLinkActive"
      [attr.tabindex]="routerLinkActiveInstance.isActive"
      [class.list-item-active]="routerLinkActiveInstance.isActive"
      (click)="scrollTo('work')"
      class="list-item"
      >
      <img class="nav-icon" src="https://res.cloudinary.com/dbgufprxr/image/upload/v1591381397/daviddresen/palette_xl6ym4.svg" alt="art palette">
      <span class="nav-content">work</span>
    </a>
    <a mat-list-item
      (mousedown)="toggleOpen()"
      routerLinkActive
      #routerLinkActiveInstance="routerLinkActive"
      [attr.tabindex]="routerLinkActiveInstance.isActive"
      [class.list-item-active]="routerLinkActiveInstance.isActive"
      (click)="scrollTo('about')"
      class="list-item"
      >
      <img class="nav-icon" src="https://res.cloudinary.com/dbgufprxr/image/upload/v1591381397/daviddresen/person_eqekyz.svg" alt="person">
      <span class="nav-content">about</span>
    </a>
    <a mat-list-item
      (mousedown)="toggleOpen()"
      routerLinkActive
      #routerLinkActiveInstance="routerLinkActive"
      [attr.tabindex]="routerLinkActiveInstance.isActive"
      [class.list-item-active]="routerLinkActiveInstance.isActive"
      routerLink='contact'
      class="list-item"
      >
      <img class="nav-icon" src="https://res.cloudinary.com/dbgufprxr/image/upload/v1591381392/daviddresen/envelope_wm7qqw.svg" alt="contact">
      <span class="nav-content">contact</span>
    </a>
  </mat-nav-list>
</div>
