@import "_variables.less";

section {
  background: linear-gradient(.08turn, #28495a, #508fb1);
  background-image: url(https://res.cloudinary.com/dbgufprxr/image/upload/v1592153192/daviddresen/logodesktopblue_jd2ws8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 2.75rem 1.875rem;
  width: 100%;
  @media screen and (min-width: @desktop-break) {
    background-image: url(https://res.cloudinary.com/dbgufprxr/image/upload/v1592153192/daviddresen/logodesktop_blue_large_w99nfe.jpg);
  }
}

.contact {
  margin: auto;
  @media screen and (min-width: @desktop-break) {
    .rem-px(margin-top, 33);
    .rem-px(width, 929);
  }
}

h3, label {
  color: @light-color;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  @media screen and (min-width: @tablet-break) {
    .font-size(12);
  }
}

label {
  .font-size(14);
}

h3 {
  .font-size(12);
  .rem-px(margin-bottom, 24);
}

h4, address {
  color: @light-color;
  .font-size(26);
  .rem-px(margin-bottom, 24);
  @media screen and (min-width: @desktop-break) {
    .font-size(36);
    .rem-px(line-height, 48);
    margin-bottom: 3vw;
    .rem-px(margin-top, 25);
  }
}

address {
  display: inline;
  .font-size(21);
  font-style: normal;

  @media screen and (min-width: 25rem) {
    .font-size(26);
  }

  @media screen and (min-width: @desktop-break) {
    .font-size(36);
  }
}

form {
  display: grid;
  .rem-px(max-width, 775px);
  margin-bottom: 100px;

  @media screen and (min-width: @tablet-break) {
    grid-template-columns: 1fr 1fr;
  }

  input,
  textarea {
    border: none;
    box-shadow: 0 8px 20px rga(28, 28, 28, .3);
    display: block;
    .font-size(15);
    .rem-px(line-height, 25);
    margin: .625rem 0 1.875rem;
    padding: .3125rem .625rem;
  }
}

textarea {
  .rem-px(height, 223);
  margin: .625rem 0;
  .rem-px(padding, 5);
  width: 100%;
}

button {
  align-items: center;
  align-self: right;
  background-color: #379EBC;
  border: none;
  box-shadow: 0 8px 20px rga(28, 28, 28, .3);
  color: @light-color;
  display: flex;
  .rem-px(height, 56px);
  justify-self: right;
  padding: .5rem 1.5rem;
  .rem-px(width, 171);
  border-radius: 2px;
  border: 1px solid #379EBC;

  img {
    width: 28px;
  }

  span {
    font-family: "Rubik", sans-serif;
    .font-size(20);
    font-weight: 200;
    .rem-px(line-height, 28);
    .rem-px(padding-left, 13);
  }
}

input {
  .rem-px(height, 40);
  .rem-px(width, 326);
  max-width: 100%;
}

@media screen and (min-width: @tablet-break) {
  .message-input {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .email-input, button {
    justify-self: right;
  }

  button {
    grid-column-start: 2;
  }
}

.hidden {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.response {
  color: white;
  margin-top: -30px;
  margin-bottom: 50px;
  background-color: #379ebc;
  padding: 25px 20px;
  font-size: 20px;
}

.errors {
  background-color: rgb(224, 178, 185);
}

.invalid {
  background-color: transparent;
  border: .2px solid @light-color;
  opacity: .6;
}

.invalid-feedback {
  margin-top: -28px;
  display: block;
  color: rgb(236, 108, 108);
}
