<section id="contact">
  <!-- <a class="identity" routerLink="home" >Dresen</a> -->
  <div class="contact">
    <h3>LOOKING FORWARD TO HEARING FROM YOU</h3>
    <h4>If you are in need of a passionate, driven,
      detail-oriented, successful creative director,
      please reach out by email at
      <address href="mailto:contact@daviddresen.com">contact@daviddresen.com</address>
      or by filling out the contact form.</h4>
        <form
          name="contact-form"
          class="contact-form"
          method="POST"
          netlify-honey-pot="bot-field"
          data-netlify="true"
          [formGroup]="contactForm"
          (ngSubmit)="submitForm()"
          action="/home"
          >
          <div class="hidden">
            <label>Don’t fill this out if you're human: <input name="bot-field" formControlName="botfield" /></label>
          </div>
          <input type="hidden" name="form-name"  value="contact-form" />
          <div class="name-input">
            <label for="name">NAME</label>
            <input type="text" name="name" class="input" formControlName="name" required />
          </div>
          <div class="email-input">
            <label for="email">EMAIL</label>
            <input type="email" name="email" class="input" formControlName="email" required />
          </div>
          <div class="message-input">
            <label for="message">TELL ME HOW WE CAN WORK TOGETHER</label>
            <textarea
            name="message"
            class="textarea"
            formControlName="message"
            required
            ></textarea>
          </div>
          <button type="submit"><img src="../../assets/images/envelope.svg"/><span>SUBMIT</span></button>
      </form>
      <p>{{message}}</p>
  </div>
</section>
