<section [class]="portfolio.class">
  <div class="textbox">
    <h3>{{portfolio.h3}}</h3>
    <h4>{{portfolio.h4}}</h4>
    <p>{{portfolio.text}}</p>
  </div>
  <div *ngIf="portfolio.projects" class="gallery">
    <app-portfolio-item
      *ngFor="let item of portfolio.projects"
      [project]="item"
    ></app-portfolio-item>
  </div>
  <div *ngIf="portfolio.logos" class="logos gallery">
    <app-portfolio-item
      class="logo"
      *ngFor="let item of portfolio.logos"
      [project]="item"
    ></app-portfolio-item>
  </div>
</section>
