<div id="work">
  <section
    *ngFor="let item of list"
    [class]="item.class"
    [id]="item.id">
    <div class="textbox">
      <h3>{{item.h3}}</h3>
      <h4>{{item.h4}}</h4>
      <p>{{item.text}}</p>
      <p *ngIf="item.text2" class="text2">{{item.text2}}</p>
    </div>
    <div *ngIf="item.projects" class="misc gallery">
      <div
        class="project"
        [class.winner]="project.award"
        *ngFor="let project of item.projects"
        aria-label="view project"
        (click)="openModal(project.id)"
        >
        <img
          [src]="project.src"
          [alt]="project.title"
          [id]="project.id"
        />
        <div class="award" *ngIf="project.award">
          <img class="banner" src="../../assets/images/banner.png" alt="banner">
          <p>AWARD WINNER</p>
        </div>
      </div>
    </div>
    <div *ngIf="item.logos" class="logos gallery" >
      <div
      [id]="project.id"
      class="project"
      [class.winner]="project.award"
      *ngFor="let project of item.logos"
      aria-label="view project"
      (click)="openModal(project.id)"
      >
      <img
        [src]="project.src"
        [alt]="project.title"
        [id]="project.id"
        />
      <div class="award" *ngIf="project.award">
        <img class="banner" src="../../assets/images/banner.png" alt="banner">
        <p>AWARD WINNER</p>
      </div>
    </div>
  </div>
  <app-modal
  [modalValue]="modalValue"
  [class]="modalValue"
  class="app-modal"
  (closeClicked)="closeModal()"
  ></app-modal>
</section>
</div>



<!-- [modalValue]="value:modalValue, params{width}" -->
