
<div class="content">
  <div
    class="main-content"
    [class.shift]="opened"
    #main
  >
    <app-navbar class="header"></app-navbar>
    <div
      class="mobile-nav"
      id="mobile-navbar"
      >
      <button
        class="menu-icon close"
        name="Toggle menu button"
        role="button"
        aria-pressed="false"
        [class.open]="opened"
        mode="push"
        (click)="toggleOpen()"
        [@menuAnimation]="openValue"
        >
        <span class="icon1"></span>
        <span class="icon2"></span>
        <span class="icon3"></span>
      </button>
    </div>
    <main (click)="toggleClose()">
      <router-outlet></router-outlet>
    </main>
  </div>
  <div
    class="nav-behind"
    (click)="toggleClose()"
    >
    <mat-nav-list
      class="dresen-list"
      id="mobile-nav-list"
      disableRipple
      >
        <a mat-list-item
          (mousedown)="toggleOpen()"
          routerLinkActive
          #routerLinkActiveInstance="routerLinkActive"
          [attr.tabindex]="routerLinkActiveInstance.isActive"
          [class.list-item-active]="routerLinkActiveInstance.isActive"
          routerLink='work'
          class="list-item"
          >
          <img class="nav-icon" src="../assets/images/palette.svg" alt="art palette">
          <span class="nav-content">work</span>
        </a>
        <a mat-list-item
          (mousedown)="toggleOpen()"
          routerLinkActive
          #routerLinkActiveInstance="routerLinkActive"
          [attr.tabindex]="routerLinkActiveInstance.isActive"
          [class.list-item-active]="routerLinkActiveInstance.isActive"
          routerLink='work'
          class="list-item"
          >
          <img class="nav-icon" src="../assets/images/person.svg" alt="person">
          <span class="nav-content">about</span>
        </a>
        <a mat-list-item
          (mousedown)="toggleOpen()"
          routerLinkActive
          #routerLinkActiveInstance="routerLinkActive"
          [attr.tabindex]="routerLinkActiveInstance.isActive"
          [class.list-item-active]="routerLinkActiveInstance.isActive"
          routerLink='work'
          class="list-item"
          >
          <img class="nav-icon" src="../assets/images/envelope.svg" alt="contact">
          <span class="nav-content">contact</span>
        </a>
    </mat-nav-list>
  </div>
</div>
