@import "_variables.less";

.mobile-nav {
  position: absolute;
  z-index: 999;
  @media screen and (min-width: @tablet-break) {
      display: none;
  }
}

button.close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  .rem-px(height, 28);
  .rem-px(margin-left, 23.5);
  .rem-px(margin-top, 23.5);
  position: relative;
  .rem-px(width, 45);
  &:hover {
    .icon1, .icon2, .icon3 {
      background-color: @light-secondary-color;
    }
  }

  .icon1 {
    background-color: @light-color;
    content: '';
    .rem-px(height, 1);
    position: absolute;
    transform: translate(-1.125rem, -.8rem);
    .rem-px(width, 30);
  }

  .icon2 {
    background-color: @light-color;
    content: '';
    .rem-px(height, 1);
    position: absolute;
    transform: translate(-1.125rem, 0rem);
    .rem-px(width, 40);
  }

  .icon3 {
    background-color: @light-color;
    content: '';
    .rem-px(height, 1);
    position: absolute;
    transform: translate(-1.125rem, .8rem);
    .rem-px(width, 20);
  }
}
