<section class="hello">
  <h1>hello</h1>
  <p>Thank you for visiting. Please feel free to browse and leave a&nbsp;message.</p>
</section>
<section class="intro">
  <div class="intro-title">
    <h2>I’m David Dresen. I&nbsp;am currently a Global Brand Creative Director in Ford’s
      Design Studio.
    </h2>
  </div>
  <div class="intro-text">
    <p>At Ford, I helped hire, develop and direct a cross-functional desing brand team focusing on enhancing the master brand and subsequent sub-brands, reducing complexity and cost in our brand on vehicle execution and production. I helped define and implement a global brand-led and audience focused approach to innovation, informing the design on all future vehicle lines, across 30+ product lines and 4 regions. I also helped define and launch a new business/brand within FO MO CO.
    </p>
  </div>
</section>
<ngx-loadable
  [module]="'portfolio'"
  [show]="true"
  >
  <ng-template #loading>Loading...</ng-template>
</ngx-loadable>
<app-about></app-about>
<app-contact></app-contact>


