<div
  *ngIf="{
    project: project.currentProject$ | async,
    first: project.first$ | async,
    last: project.last$ | async
  } as vm"
  class="app-modal"
  [class]="modalValue"
  [@modalAnimation]="{value:modalValue}"
  >
  <div class="overlay" (click)="closeModal()">
  </div>
  <div class="modal">
    <button
      class="button"
      (click)="closeModal()"
      name="close modal"
      >
      <i class="material-icons">close</i>
    </button>
    <img
      class="img"
      [src]="vm.project.modalSrc"
      [alt]="vm.project.title"
      />
      <button
      class="button back"
      [class.hidden]="vm.first"
      (click)="project.previousProject()"
      name="previous project"
      >
      <i class="material-icons">arrow_back_ios</i>
    </button>
      <button
      class="button forward"
      [class.hidden]="vm.last"
      (click)="project.nextProject()"
      name="next project"
      >
      <i class="material-icons">arrow_forward_ios</i>
    </button>
  </div>
</div>
